.myGit{
    font-size: 3vw;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myGit a{
    text-decoration: none;
    color: #000;
    border: 0.5px dashed chocolate;
    border-radius: 5px;
    display: block;
}
.myGit a:hover{
    zoom: 120%;
    color: chocolate;
}